:root {
  --white: #fff;
  --dark: #2b6777;
  --lite-dark: #c8d8e4;
  --lite: #52ab98;
  --extreme-lite: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  transition: 0.3s;
}

.header {
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  padding: 20px 20px;
  z-index: 1111;
}

.header a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: var(--dark);
}

.header a:hover {
  background-color: var(--dark);
  color: var(--lite-dark);
}

.menu {
  float: right;
}

#loginBtn {
  font-weight: bold;
  color: var(--lite);
  margin-left: 20px;
  border: 2px solid var(--lite);
  border-radius: 10px;
  padding: 10px 25px;
}
#loginBtn:hover {
  background-color: var(--lite);
  color: var(--white);
}

.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
}

.slider .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition-delay: 0.1s;
  opacity: 0;
}
.slider .imgBox .gradColor {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--lite), var(--dark));
  opacity: 80%;
}

.slider input[type="radio"]:checked + .imgBox {
  z-index: 10;
  transition-delay: 0.15s;
  opacity: 100;
}

.slider .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .imgBox .content {
  position: relative;
  text-align: center;
  max-width: 800px;
}

.slider .imgBox .content h2 {
  font-size: 50px;
  color: var(--white);
}

.slider .imgBox .content p {
  font-size: 20px;
  color: var(--white);
}

.slider .imgBox .content a {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background: var(--lite);
  color: var(--extreme-lite);
}

.slider input[type="radio"] {
  position: relative;
  z-index: 100;
  margin: 5px 15px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
  visibility: hidden;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--extreme-lite);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--white);
}

.footer {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.footer a {
  font-weight: bold;
  color: var(--lite);
  margin-left: 20px;
  border: 2px solid var(--lite);
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
}
.footer a:hover {
  background-color: var(--lite);
  color: var(--white);
}
